.container {
  color: #EEEEEE;
}
.btn {
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}
.btn-audio-on {
  background-color: green;
}
.btn-audio-off {
  background-color: red;
}
.btn-video-on {
  background-color: green;
}
.btn-video-off {
  background-color: red;
}
.video-box {
  width: 220px;
  height: 160px;
  border: 2px solid lightgrey;
  padding: 0;
  margin: 0;
}
