<div class="container">
  <div class="video-box">
    <video id="localVideo" playsinline></video>
  </div>
  <div *ngIf="localVideoOn; else elseBlock">
    <button type="button" class="btn btn-video-off" (click)="btnVideoClick();"><i class="fas fa-video"></i></button>
  </div>
  <ng-template #elseBlock>
    <button type="button" class="btn btn-video-on" (click)="btnVideoClick();"><i class="fas fa-video"></i></button>
  </ng-template>
  <button type="button" class="btn btn-audio-on" (click)="btnAudioClick();"><i class="fas fa-microphone"></i></button>
</div>
