.container {
  color: #EEEEEE;
}
.btn {
  background-color: lightgrey;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}
.btn-audio {
  background-color: green;
}
.btn-video {
  background-color: blue;
}
