.container {
  height: 100%;
  background: url(../../../assets/background.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  text-align: center;
}
.title {
  color: white;
  margin:0;
  padding:50px 20px;
}
.btn {
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}
.btn-login {
  background-color: green;
}
.btn-signup {
  background-color: darkslategrey;
}
.fa-envelope {
  color: lightgrey;
}
.fa-key {
  color: lightgrey;
}
