<div class="container">
  <h1 class="title">{{room.name}} room</h1>
  <a routerLink="" routerLinkActive="active">Back Home</a>
  <div class="room-box">
    <app-room-details [room]="room"> </app-room-details>
    <div class="left">
    <div class="screen-share">
      <app-screen-share></app-screen-share>
    </div>
    </div>
    <div class="right">
    <div class="video-conference">
      <app-video-conference></app-video-conference>
    </div>
    </div>
    <div>
      <app-remote-video></app-remote-video>
    </div>
  </div>
  <div class="container container-settings">
    <app-user-profile-dropdown></app-user-profile-dropdown>
  </div>
  <div class="chat-box">
    <app-chat></app-chat>
  </div>
</div>
