.container {
  border: #EEEEEE;
}
.btn {
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}
.btn-screen-on {
  background-color: green;
}
.btn-screen-off {
  background-color: red;
}
.screen-box {
  width: 410px;
  height: 310px;
  border: 2px solid lightgrey;
  padding: 0;
  margin: 0;
  text-align: center;
}
