.container {
  right: 0;
  top: 0;
  position: absolute;
}
.btn {
  background-color: lightgrey;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
}
